[2017-03-31 12:22] n4nachiket opened #1 "Paytm ios sdk issues"
Hello, I am constantly getting "oops, payment failed due to any of these reasons " screen and sometimes "can not post" text. I can't even reach card selection or anyother screen. I am generating checksum from my own server but everything is working fine with Android app. What could be a problem with ios sdk?

[2017-04-13 07:33] KartikSinghBhadoriya commented on #1
hello,
1- Your PGTransactionDelegate Method is change so Please Change Your Doc Also When I Click On Cancel the app is going to crash because of this method - (void)didCancelTransaction:(PGTransactionViewController *)controller error:(NSError*)error response:(NSDictionary *)response but now in new sdk there is no method of like this it is modified by you now so please modify document also

2- My w

[2017-05-04 18:29] ashishnair57 opened #3 "paytm iOS sdk in swift required"
Hi,
I have an application in swift and I want to integrate paytm payment gateway in my iOS app.
So, please provide the iOS sdk in swift which is the recent programming language for developing apps in iOS

[2017-05-05 11:43] SuhasDPatil opened #4 "Require Paytm SDK in Swift 3"
Hello team,
It's been good pleasure to have Paytm SDK available in Objective-C language. As new language and new technology is introduced by Apple. We need to follow the new language i.e. Swift. So kindly request you please provide the Paytm SDK in Swift.

Regards,
Suhas Patil.

[2017-06-03 06:25] Cambelbux commented on #4
http://www.oodlestechnologies.com/blogs/Paytm-Integration-in-iOS-Swift

[2017-06-22 06:15] memanishasharma opened #5 "x86-64 architecture missing"
Library is missing x86-64 architecture so we can't run our project on simulaotr after adding library to our own project for payment gateway integration
Please look this issue and do the needfull

[2017-07-11 06:49] tejashwikalptaru commented on #5
Unable to build an application for iOS 11, no support for arm64.
Please provide updated library

[2017-07-17 10:53] matys18 commented on #5
I had the same issue. If you are getting linker errors, make sure you have "SystemConfiguration.framework" linked to your project in addition to the PayTM library.

![screenshot 2017-07-17 12 52 13](https://user-images.githubusercontent.com/6360462/28265189-ca2c175a-6aee-11e7-8b77-a5752e228c09.png)

[2017-07-18 12:47] neoD1 commented on #1
@KartikSinghBhadoriya  Did you get it working ?

[2017-08-08 11:39] AnkiReddyPolu commented on #5
error screenshot:
Inline images 1
I gettng error is opps payment faield due to any of these reasons. please provide proper sample project in swift 3

[2017-08-08 11:40] AnkiReddyPolu commented on #5
![image](https://user-images.githubusercontent.com/29113492/29070302-62b2d40e-7c5c-11e7-98e6-a7338aea5550.png)

please provide swift 3 project

[2017-08-08 11:41] AnkiReddyPolu commented on #5
2017-08-08 16:59:47.819178+0530 SimplifiedPGMerchantApp[2762:743268] [Accessibility] ****************** Loading GAX Client Bundle ****************
2017-08-08 16:59:54.002091+0530 SimplifiedPGMerchantApp[2762:743268] PGTransactionViewController::loadView
2017-08-08 16:59:54.002576+0530 SimplifiedPGMerchantApp[2762:743268] PGTransactionViewController::viewDidLoad
2017-08-08 16:59:54.022451+0530 Simp

[2017-08-08 12:06] AnkiReddyPolu opened #6 "OOPs Error"
![image](https://user-images.githubusercontent.com/29113492/29071164-0ac31336-7c60-11e7-9d06-6658484d2adb.png)
please check and release new project in swift 3

[2017-08-12 06:14] Avtar1351992 opened #7 "Here is the example of swift-3 code"
Please check it
https://github.com/Avtar1351992/iOS-examples

[2017-08-17 10:19] irtaneja commented on #6
![photo_2017-08-17_15-48-51](https://user-images.githubusercontent.com/18110876/29407862-973bce48-8363-11e7-90f4-b4a97593287e.jpg)
please verify this and let us know

[2017-08-17 10:34] AnkiReddyPolu commented on #6
Hi Rahul,

Again i am getting same error (OOPs Error)

On Thu, Aug 17, 2017 at 3:49 PM, Rahul Taneja <notifications@github.com>
wrote:

--
Thanks&Regards, *AnkiReddy P,* AeonIT Solutions pvt ltd, www.aeonit.in,
*9082117396*.

[2017-08-17 10:36] irtaneja commented on #6
Hey Ankit,
Their iOS SDK is not stable and wiki is also not updated. May be we will just have to wait for them to get back on the issue.

[2017-08-17 10:41] AnkiReddyPolu commented on #6
Hi Rahul,

Ok rahul. Once you done your side please inform me I am waiting for your
reply.

Regards,
Ankith.

On Thu, Aug 17, 2017 at 4:06 PM, Rahul Taneja <notifications@github.com>
wrote:

--
Thanks&Regards, *AnkiReddy P,* AeonIT Solutions pvt ltd, www.aeonit.in,
*9082117396*.

[2017-08-17 10:43] irtaneja commented on #6
I am waiting for paytm people to reply to our issue. Without that we cannot do anything

[2017-08-17 10:48] AnkiReddyPolu commented on #6
Hi Rahul,

Ok Rahul.

On Thu, Aug 17, 2017 at 4:13 PM, Rahul Taneja <notifications@github.com>
wrote:

--
Thanks&Regards, *AnkiReddy P,* AeonIT Solutions pvt ltd, www.aeonit.in,
*9082117396*.

[2017-08-18 10:06] AnkiReddyPolu commented on #6
Hi Rahul,

Rahul please provide *iOS* 10 *Objective-C* sample project (Updated
version) in *paytm* integration. I will submit my application on Monday. So
please provide immediately.

On Thu, Aug 17, 2017 at 4:18 PM, Anki Reddy Polu <ankireddy.p@aeonit.in>
wrote:

--
Thanks&Regards, *AnkiReddy P,* AeonIT Solutions pvt ltd, www.aeonit.in,
*9082117396*.

[2017-08-18 10:11] irtaneja commented on #6
Hey Ankith,

I had a word with paytm team. I am developing on swift. So i guess this sdk won't work for me. And i'll have to use their rest apis. I would suggest you to contact their tech support for this issue.

[2017-08-18 10:17] AnkiReddyPolu commented on #6
Hi Rahul,

                    Thank you for given reply, already i contact to support
team there are said to me to contact Rahul so i sent mail for you.
Ok Rahul once you have done with developing for *Paytm* integration on
*swift* *iOS*. Please inform me i will integrate to my project.

Thanks,
Ankith.

On Fri, Aug 18, 2017 at 3:41 PM, Rahul Taneja <notifications@github.com>
wrote:

--
Thanks&Re

[2017-08-18 10:36] AnkiReddyPolu commented on #6
Looping Anuja.

On Fri, Aug 18, 2017 at 3:47 PM, Anki Reddy Polu <ankireddy.p@aeonit.in>
wrote:

--
Thanks&Regards, *Ankith**,* AeonIT Solutions pvt ltd, www.aeonit.in,
*9082117396*.

[2017-08-21 14:23] preetam-idyllic commented on #6
I have integrated SDK and getting a blank screen with spinner.

![simulator screen shot 21-aug-2017 7 51 58 pm](https://user-images.githubusercontent.com/22490933/29523361-68892556-86aa-11e7-9450-e34f26fed009.png)

[2017-08-21 14:28] preetam-idyllic opened #8 "Blank screen with spinner"
After adding SDK to my project `PGTransactionViewController` remains blank.
Here is my code:

        var orderDict = [String : String]()
        orderDict["MID"] = "Idylli83926*******7";//paste here your merchant id   //mandatory
        orderDict["CHANNEL_ID"] = "WAP"; // paste here channel id                       // mandatory
        orderDict["INDUSTRY_TYPE_ID"] = "Retail110";//paste industry

[2017-08-22 04:45] AnkiReddyPolu commented on #6
Hi Rahul,
Good Morning.

Thank you for given feed back Rahul, Once you have to done the SDK, Please
inform me.

*Regards,*
*Ankith.*

On Mon, Aug 21, 2017 at 7:53 PM, preetam-idyllic <notifications@github.com>
wrote:

--
Thanks&Regards, *Ankith**,* AeonIT Solutions pvt ltd, www.aeonit.in,
*9082117396*.

[2017-08-23 12:34] surixon commented on #1
here also m getting same issues .. plz help

[2017-08-24 05:36] neoD1 commented on #1
Firstly you need to create order and send that order to your server . The server will return you the Checksum , OrderId , Customer Id (This logic needs to be implemented at your server end). Then use these to send the Paytm SDK and we are good to go .

Just in case this doesn't work then you can write to Paytm , in my case after writing to Paytm things were working next day.

[code]

[2017-08-29 04:53] MangeshToraskar opened #9 "Need Paytm SDK v1.01 for iOS"
Hi,

Please provide the sdk v1.01 for iOS integration if possible. I tried contacting support and they could only provide me with the documentation and the .jar sdk for android.

Thanks

[2017-09-02 11:18] Avtar1351992 commented on #3
Checkout this for PayTm swift example
https://github.com/Avtar1351992/iOS-examples

[2017-09-02 11:25] Avtar1351992 commented on #4
Paytm Swift Code
https://github.com/Avtar1351992/iOS-examples

[2017-09-19 06:58] AnkiReddyPolu commented on #6
Hi Rahul,

What about status of paytm integration in ios swift 3.

Thanks&Regards,
Ankith.

On Tue, Aug 22, 2017 at 10:15 AM, Anki Reddy Polu <ankireddy.p@aeonit.in>
wrote:

--
Thanks&Regards, *Ankith**,* AeonIT Solutions pvt ltd, www.aeonit.in,
*9082117396*.

[2017-11-27 10:04] codewithanish opened #10 "Paytm Payment Issue"
After proceeding to payment, the app gets frozen on paytm payment screen where we cannot scroll, enter card details or even cancel payment. This is happening in iOS 11.1.2 on iPhone 6s.

[2017-11-29 05:12] beladiya opened #11 "libPaymentsSDK.a not supported by apple store"
i integrate paytm with xcode 9.1 and swift 4.0 but when i upload ipa on appstore there is issue with libPaymentsSDK.a  file.Any one help me out of this. how to resolve this issue ?

[2017-11-30 05:16] saurabh-360 commented on #11
Yes,
Please provide sdk comiled for the same.

[2017-12-18 11:43] abhinavcedcoss commented on #4
Avtar1351992 can i have your whatapp no or skype id
i am student intregrating paytm for my final year project
but having some isssues
can you guide me  from first step to last step
thanks....

[2017-12-18 11:45] abhinavcedcoss commented on #4
i have placed the checksum folder to the local host but still its not working

[2017-12-18 11:59] Avtar1351992 commented on #4
Hi **abhinavcedcoss**

please share your integration ViewController/Activity code with me

[2017-12-18 13:00] abhinavcedcoss commented on #4
i am using your code plz tell me what are the changes you have in php file
plz share with me
its urgent..

[2017-12-19 03:54] Avtar1351992 commented on #4
Sorry I don't have php file.

[2017-12-19 09:19] abhinavcedcoss commented on #4
can you give me the source code of "http://getlook.in/cgi-bin/checksum_generate.cgi";

[2018-01-01 07:18] beladiya commented on #6
Hello, i getting same error in ios swift 3.0 version.How can i solve this error ?

[2018-01-31 06:08] imobdevtech opened #14 "How to generate CHECKSUMHASH for Order in iOS (Swift 3.0)?"
Hello PayTM Team ,
I am facing issue regarding CheckSum , right now i have used static checksum that provided by PayTm iOS Integration demo. Let me know further for same ?
- I have show **clientSSLCertPath**  Mandatory filed in library. Let me know further detail for CertPath with snippet of code.
- When i try Merchant Integration details over staging below response received in NSLog.

`Found Call

[2018-02-21 12:12] Suhas-ap opened #15 "Apple Mach-O Linker (ld) Error Group"
ld: warning: ignoring file /Users/Suhas/Desktop/MacBook Air/Projects/ArnAmry's - Easy Queue/MAIN/EasyQueue/libPaymentsSDK.a, missing required architecture arm64 in file /Users/Suhas/Desktop/MacBook Air/Projects/ArnAmry's - Easy Queue/MAIN/EasyQueue/libPaymentsSDK.a (2 slices)
Undefined symbols for architecture arm64:
  "_OBJC_CLASS_$_PGServerEnvironment", referenced from:
      objc-class-ref in E

[2018-02-25 07:56] DeliveryWala opened #16 "libPaymentsSDK.a not supported when uploading app to App Store"

[2018-03-09 09:38] chetan5476 commented on #5
@AnkiReddyPolu Did you figure it out? If so can you help me out. I am stuck at the same point?

[2018-03-12 13:33] MuthuVenkateshM commented on #11
Facing the same problem. Can someone help us out with the guidelines for pushing to AppStore please?

ERROR ITMS-90171: "Invalid Bundle Structure - The binary file 'ThisForThat.app/libPaymentsSDK.a' is not permitted. Your app can’t contain standalone executables or libraries, other than a valid CFBundleExecutable of supported bundles. Refer to the Bundle Programming Guide at https://developer.appl

[2018-03-12 17:34] saurabh-360 commented on #11
Hi @MuthuVenkateshM
please try adding this file

https://github.com/Paytm-Payments/Paytm_iOS_App_Kit/tree/master/BitCode%20Enabled%20PaytmSDK

Or this one, did not remember which one,
but one of this works for the archiving issue

https://github.com/Paytm-Payments/Paytm_iOS_App_Kit/tree/master/Paytm

[2018-03-15 07:15] amit-pandey11 commented on #11
Hey
I am facing the same issue as @MuthuVenkateshM and I am using bit code enabled paytm sdk library.
But still getting the same issue. Is there any other solution regarding the issue.

[2018-03-15 07:26] amit-pandey11 opened #17 "App upload issue: /libPaymentsSDK.a' is not permitted."
Hello
 I have integrated PayTM SDK in my iOS app, its working fine on my device and simulator but when I try to upload the app it shows error like this:
ERROR ITMS-90171: "Invalid Bundle Structure - The binary file 'myapp.app/libPaymentsSDK.a' is not permitted. Your app can’t contain standalone executables or libraries, other than a valid CFBundleExecutable of supported bundles. Refer to the Bundl

[2018-03-15 09:26] MuthuVenkateshM commented on #11
Hi @amit-pandey11

the solution from @saurabh-360  fixed my issue.
I removed the pod and manually added the https://github.com/Paytm-Payments/Paytm_iOS_App_Kit/tree/master/BitCode%20Enabled%20PaytmSDK to my project.

Check it out.

[2018-03-19 00:58] vivekkhurana commented on #11
@MuthuVenkateshM Could you please elaborate the steps taken to add paytm manually?

[2018-03-21 09:32] amit-pandey11 commented on #11
Hey @MuthuVenkateshM
Can you please provide us steps to adding payTm manually?

[2018-03-26 07:59] amit-pandey11 commented on #11
@vivekkhurana Have you solved this issue? Is there anyone who has faced the same issue and solved it?

[2018-03-26 08:08] amit-pandey11 commented on #17
@Paytm-Payments-Admin Hope you people are looking into my issue and will reply soon?

[2018-03-26 16:16] saurabh-360 commented on #17
@amit-pandey11 Try using the other files already present in another folder
The bitcode enabled files are inside the folder which does not mention the bitcode enabled. 😤

https://github.com/saurabh-360/Paytm_iOS_App_Kit/tree/master/SimplifiedPGMerchantApp/PaymentsSDK

[2018-04-03 04:47] khushDesai commented on #4
Hello @Avtar1351992 can you please suggest me that how can i register for a merchant and from where i get **checksumGenerationURL** and **checksumValidationURL**

[2018-04-04 06:03] omkar7677 opened #18 "Error with PGTransactionViewController"
Shows error while testing payment gateway
Error Domain=NSCocoaErrorDomain Code=3840 "JSON text did not start with array or object and option to allow fragments not set."

[2018-04-06 05:30] Avtar1351992 commented on #4
Please connect to paytm customer support for this

On Tue, Apr 3, 2018, 10:17 AM khushDesai <notifications@github.com> wrote:

[2018-04-11 11:29] karthikpalani commented on #7
Hi

I what integrate paytm payment into my app, so how to install SDK in swift 3

actually, I installed paytm payment SDK with  pod file but when I use PGMerchantConfiguration in my app getting error: Use of undeclared type 'PGMerchantConfiguration'

[2018-04-11 11:31] janardhanmupparaju commented on #7
Hi

I what integrate paytm payment into my app, so how to install SDK in swift 3

actually, I installed paytm payment sdk with  pod file but when i use PGMerchantConfiguration in my app getting error : Use of undeclared type 'PGMerchantConfiguration'

[2018-04-11 11:36] janardhanmupparaju opened #19 "how to add SDK into my Project"

[2018-04-16 05:34] vivekkhurana commented on #11
@amit-pandey11 This is how I solved it

-- Download the bitcode enabled sdk from github
-- Copy all header files to your xcode project. Modify Header Search Path is required to make sure headers are included at the time of build.
-- Go to Project Setting->General->Linked Frameworks and Libraries and click on "+" button. Then select "Add Other" and select the libPaymentsSDK.a (make sure the file is

[2018-04-20 14:16] Balasnest opened #20 "No option to cancel or navigate back from PGTransactionViewController"
## No option to **cancel** transaction or **navigate back** from PGTransactionViewController.

![Check the SS](https://user-images.githubusercontent.com/6050520/39056077-55d8e1ac-44d3-11e8-9add-4c465996cc44.png)

[2018-04-21 03:40] loveuqian commented on #19
@janardhanmupparaju
How do you solve it, please

[2018-04-21 08:12] loveuqian commented on #11
@vivekkhurana
How to solve OOPS question, please?

[2018-04-21 08:45] vivekkhurana commented on #11
What is OOPS?

[2018-04-21 09:11] loveuqian commented on #11
![image](https://user-images.githubusercontent.com/9745332/39082522-12a99eb6-451a-11e8-98ec-5068c3299f4a.png)
@vivekkhurana
this one

[2018-04-22 08:04] vivekkhurana commented on #11
@loveuqian it is not related to this issue but this generally happens when the checksum is wrong or you are missing some field. Please make sure that you pass CALLBACK_URL parameter when generating checksum.
Also, if you look in the logs paytm generally prints the reason for OOPS

[2018-04-23 05:02] Nikolus005 commented on #6
Hello guys, I faced the same issue while integrating this SDK with my app. the problem was parameters for `PGOrder` objects was invalid.
let me tell you, this might not be the only case where you get the same screen mentioned above. connecting with PayTM team is the right way.

[2018-05-21 09:48] SARAVANANVBK commented on #4
hi,

I am using your code. problem is i dont know how to get generation and validationURL. when i am asking to customer care support they are telling like there is no need to use that link. but when i am ignore that code it is showing white screen with loading only,  i wanna know whether problem with this code or URL. Pls help me

[2018-05-21 16:05] Avtar1351992 commented on #4
generation and validationURL are very important according to me without
this it will not works. Try to connect with your web services team they can
resolve your problem. Generation and validationURL are used for checksum
calculations which is important for transaction security. Hope so it will
helps you

Thanks

On Mon, May 21, 2018 at 3:18 PM, SARAVANANVBK <notifications@github.com>
wrote:

--
Th

[2018-05-22 04:26] SARAVANANVBK commented on #4
thank you

[2018-05-29 09:13] devdroid008 commented on #4
![screen shot 2018-05-29 at 2 39 27 pm](https://user-images.githubusercontent.com/34447030/40649346-4cd64448-634e-11e8-9b77-a704c5947585.png)
I am not able to integrate the Paytm in iOS swift4. I follow all the steps accordingly but got this error.
"session expired due to inactivity our system encountered an obstacle paytm ios"
Can you help me with this?

[2018-05-29 09:27] Gopal06bca opened #22 ""You are lost in space""
Im getting "You are lost in space" issue while calling PGTransactionViewController. Generated and verified CHECKSUMHASH successfully. Kindly help to fix this issue.
![simulator screen shot - iphone x - 2018-05-29 at 14 53 14](https://user-images.githubusercontent.com/32612331/40650291-94ab0144-6350-11e8-8c28-c4b6d26d5476.png)

[2018-07-03 13:01] AppinessVashum commented on #22
Bitcode enabled SDK was causing the issue in my case. When I try with SDK without Bitcode enable, the issue was resolved.

[2018-07-09 16:42] dinesh2609 commented on #15
@Suhas-ap I am also facing the same issue. Were you able to resolve this issue?

[2018-07-10 03:30] bhushanrocks412 opened #23 "I can't find libpaymentsdk.a"
in instruction there is a last point written
7.Go to Pods Target -> Build Phases -> Link Binaries with libraries and add drag libPaymentsSDK.a there From Pods Resources

but after going through cocoa pod and all ,I don't find that libpaymentsdk.s

[2018-07-10 03:50] #23 closed

[2018-07-10 04:00] bhushanrocks412 opened #24 "linker error"
ld: '/Users/rahulparab/Library/Developer/Xcode/DerivedData/yuvati-fgixrxjzsyxjswajfhdbsbeodata/Build/Products/Debug-iphoneos/Bolts/libBolts.a(PGUtils.o)' does not contain bitcode. You must rebuild it with bitcode enabled (Xcode setting ENABLE_BITCODE), obtain an updated library from the vendor, or disable bitcode for this target. file '/Users/rahulparab/Library/Developer/Xcode/DerivedData/yuvati-f

[2018-07-14 05:59] Nimeshsuarni opened #25 "PaytmSDK Tap on Cancel Button app Crash"
There reason not confirm delegate method(didcancel transction) but i have already confirm Delegate.

[2018-07-16 10:10] RajputException opened #26 "Add a swift file if possible of this"

[2018-08-31 13:58] shubhanshusingh commented on #16
same issue,I'm facing!

[2018-09-27 11:05] chauhanjitendra603 commented on #20
thats right bro

If find any solution? pls give me

[2018-09-27 11:07] chauhanjitendra603 commented on #20
![simulator screen shot - iphone 8 - 2018-09-27 at 16 26 47](https://user-images.githubusercontent.com/12288447/46142119-83057280-c273-11e8-90dd-470c89aa62c9.png)
see this ss

[2018-09-28 06:39] Balasnest commented on #20
@chauhanjitendra603 Created new controller with header navigation on native iOS. We need to handle in iOS only until they update in this package.

[2018-10-01 05:44] saurabh-360 commented on #20
@Balasnest Please take care of following cases

1. You have a hidden navigation bar from where you have pushed the PUSAPaymentOptionsVC controller. In that case just **UNHIDE** the navigation bar, and hide it again in viewWillAppear.

        self.navigationController?.navigationBar.isHidden = false

	    self.navigationController?.pushViewController(self.paymentOptionsVC, animated: true)

2. You

[2018-10-01 05:49] chauhanjitendra603 commented on #20
@Balasnest and @saurabh-360

Thanks for your replay,

issue fixed after your help

[2018-10-16 18:19] gmpanuku opened #27 "Getting checksum changed every time and getting paytm checksum mismatch"
I am getting response from my php backend as

[code]
Same details I am sending to paytm sdk, But I am getting **paytm checksum mismatch** error.
Here is the paytm sdk response
`{\"ORDERID\":\"REF931544\", \"MID\":\"GOdrin43113348350933\", \"TXNAMOUNT\":\"53.00\", \"CURRENCY\":\"INR\", \"STATUS\":\"TXN_FAILURE\", \"RESPCODE\":\"330\", \"RESPMSG\":\"Paytm checksum mismatch.\", \"BANKTXNID\":\"\", \"

[2018-10-25 11:37] sanchgoel opened #28 "Paytm SDK swift 4.2"
Unable to compile the framework as it is supported for swift 4.1.2 ... Can i get an update on this framework?

[2018-10-25 13:38] MahendraRaj commented on #28
I'm also getting the error **"Module compiled with Swift 4.1.2 cannot be imported by the Swift 4.2 compiler: "** when I tried to use the pods.. will it be resolved soon so that I can use PaytmSDK in my application? @Paytm-Payments-Admin

[2018-10-25 13:39] MahendraRaj commented on #28
or is there any solution for this issue?

[2018-11-14 08:35] ankz-paytm commented on #28
@sanchgoel @MahendraRaj  Updated Swift SDK for Swift_4.2

[2018-11-14 10:49] sanchgoel commented on #28
@MahendraRaj Does it works by installing pod? If yes can you please help with the pod ... i am unable to import the module

[2018-11-15 16:19] #27 closed

[2018-11-21 11:35] mgreddy12345 commented on #6
I am also getting same Oops error in ios using swift4. Any suggestions please.

[2019-01-02 05:38] TruMantra commented on #16
same issue,I'm  alsofacing

[2019-01-02 06:17] TruMantra opened #30 "Code signing "PaymentSDK.framework" failed."
I am using xcode 10 and manually paytm integrated i am getting error "Code signing "PaymentSDK.framework" failed." while upload app

[2019-01-30 17:35] vishnu-vhz commented on #30
Me too having the same issue...manually added the sdk and when i tried to upload it on appstore using xcode "Code signing PaymentSDK.framework failed." error occured.

Please provide the solution...

[2019-01-30 17:36] vishnu-vhz commented on #30
![screen shot 2019-01-30 at 11 05 56 pm](https://user-images.githubusercontent.com/33948924/52000655-a96a4180-24e3-11e9-80c2-c93203844aef.png)

here is the screen shot

[2019-02-27 12:25] w3b-amit opened #31 "Is PayTMNativeSDK works with Objective-C Project?"
I am integrating PayTmNativeSDK in my project written in objective c. But I am not able to integrate it into that project is building fine but I am not able to find any source of code so that I can call any of the methods of the SDK to initiate PayTm SDK.

[2019-03-02 06:10] saifan95 commented on #30
Same here, what to do now?

[2019-03-08 00:38] rajaiosrg commented on #11
@vivekkhurana  i have tried same steps
it is giving error like libPaymentsSDK.a not found. is there any workaround ?

[2019-03-09 03:45] vivekkhurana commented on #11
Please follow the steps I have given, they work.

[2019-03-26 09:03] sillysachin opened #33 "Module compiled with Swift 4.2.1 cannot be imported by the Swift 5.0 compiler"
I am trying to integrate PaytmNativeSDK https://github.com/Paytm-Payments/Paytm_iOS_App_Kit/tree/master/Swift/BitCodeDisabled/PaytmNativeSDK

I get the following error - `Module compiled with Swift 4.2.1 cannot be imported by the Swift 5.0 compiler`

I have issues integrating this in latest Xcode Version 10.2 (10E125)

[2019-03-26 13:35] sillysachin commented on #33
ld: /SDK/PaytmNativeSDK.framework/PaytmNativeSDK compiled with older version of Swift language (unknown ABI version 0x06) than previous files (unknown ABI version 0x07) file '/SDK/PaytmNativeSDK.framework/PaytmNativeSDK' for architecture x86_64

[2019-03-26 18:18] sillysachin commented on #33
Using toolchains to use Swift 4.2 amd 4.2.3 https://medium.com/xcblog/switching-swift-versions-inside-xcode-using-toolchains-755b28831c43
The error changes to Reason: Incompatible library version: PaytmNativeSDK requires version 1.0.0 or later, but libswiftCore.dylib provides version 0.0.0

[2019-03-26 18:54] sillysachin commented on #33
<img width="270" alt="Screenshot 2019-03-27 00 17 59" src="https://user-images.githubusercontent.com/333723/55024997-0129b280-5026-11e9-9f29-9b200786f1b4.png">
<img width="227" alt="Screenshot 2019-03-27 00 17 49" src="https://user-images.githubusercontent.com/333723/55024999-01c24900-5026-11e9-9d17-18ba6618d118.png">
<img width="1146" alt="Screenshot 2019-03-27 00 17 30" src="https://user-images.

[2019-03-28 09:51] GaneshShetty951 commented on #33
How to solves this issue, any solution???

[2019-03-28 14:36] sillysachin commented on #33
You have to wait for next release of the library .

[2019-04-09 08:37] n1tesh commented on #33
Any solution ?

[2019-04-18 09:12] balkrishanyadav commented on #16
Hello I am facing issue in upload build on app store. I am using xCode 10.1 with swift 4.2 and payment SDK(PayTm SDK) bu i am unable to upload build on app store.

Show ing me message in error validation Rebuild your app with latest xCode.
And If I am Using xcode 5 Then Getting Issue "Module compiled with Swift 4.2.1 cannot be imported by the Swift 5.0 compiler: /Users/gkive/BalkrishanYadav/Baseca

[2019-04-18 09:41] balkrishanyadav commented on #33
Any Solution for this issue or any alternative solution.

[2019-04-19 10:00] balkrishanyadav commented on #16
Hello did you found any solution regarding this issue.

[2019-04-19 12:14] balkrishanyadav opened #34 "PayTm SDK Swift 5.0 Issue"
If I am compiling Code with new xCode 10.2.1 then getting the error "Module compiled with Swift 4.2.1 cannot be imported by the Swift 5.0.1 compiler: "

OR

If I am building app using xCode 10.1 then App Store Verification Issue "ERROR ITMS-90087: "Unsupported Architectures. The executable for BasecampSport.app/Frameworks/PaymentSDK.framework contains unsupported architectures '[x86_64, i386]'.""

[2019-04-24 09:42] w3b-amit commented on #33
Any Solution till now! or any news when they are going to release the new SDK.

[2019-04-27 17:06] arasu01 commented on #34
I'm facing same problem, please provide updated version with swift 5.0 support.

[2019-05-01 10:20] mahendragp commented on #34
I am not able to compile my project on Xcode 10.2, getting error "Module compiled with Swift 4.2.1 cannot be imported by the Swift 5.0 compiler". Please help

[2019-05-04 06:38] SiddRamesh commented on #34
same here, plz compile in swift 5

[2019-05-06 09:23] kamanijasmin13 commented on #34
I'm also facing the same problem in Xcode 10.2.1
Paytm need to compile framework in **Swift 5**.

[2019-05-10 10:13] sumitparmarsride commented on #25
@Nimeshsuarni  :- same issue i get, have you found any solution for this ?

[2019-05-13 07:03] ChamanGurjar commented on #34
I am also facing the same issue.

[2019-05-14 06:17] DevSupportPaytm commented on #34
test

[2019-05-17 09:01] dipendra-sharma commented on #34
Same Issue here. Please update soon.

Module compiled with Swift 4.2.1 cannot be imported by the Swift 5.0.1 compiler:

[2019-05-30 06:24] pradipwalghude commented on #34
I am facing same issue.
Could you provide me solution asap?

[2019-05-30 06:25] pradipwalghude commented on #34
is it fix your issue ??

[2019-05-30 11:41] Divanshu commented on #34
Getting the same issue while I try to Archive my app to post the app to iTunes.
Xcode 10.1 Swift 4.. and I'm getting this error message while trying to upload "Code signing "PaymentSDK.framework" failed."

[2019-06-12 10:56] KiranYechuri commented on #4
I am getting libpaymentsSDK.a does not contain Bitcode.what is this? and how to resolve it.In my Xcode bitcode setting is enabled to yes.

'/Applications/path/path/PaytmSDK/libPaymentsSDK.a(PGTransactionViewController.o)' does not contain bitcode. You must rebuild it with bitcode enabled (Xcode setting ENABLE_BITCODE), obtain an updated library from the vendor, or disable bitcode for this target.

[2019-06-19 05:53] mayuritalaviya commented on #34
Any Update?

[2019-06-19 06:08] pradipwalghude commented on #34
Yes, It is resolved.

On Wed, Jun 19, 2019 at 11:23 AM Mayuri Talaviya <notifications@github.com>
wrote:

--
*--*

*Thanks and Regards,Pradip Walghude |*
| *(m) + 91 (976) 2953471 *
Gtalk:  | Skype:pradip.walghude91
Software Development  IT Managed Services , iOS Developer

[2019-06-20 07:08] MangeshToraskar commented on #34
@Prabhat1Mishra Can you please share the solution?

[2019-06-20 07:26] pradipwalghude commented on #34
[PaymentSDK Swift5 (1).zip](https://github.com/Paytm-Payments/Paytm_iOS_App_Kit/files/3309239/PaymentSDK.Swift5.1.zip)

Use this sdk for swift 5.0 version.

[2019-06-24 04:21] SiddRamesh commented on #34
thanks Pradip :). it's working now

[2019-06-24 15:37] w3b-amit commented on #34
Hello @pradipwalghude, I am using PayTM Native SDK in my app. Is there any update in that SDK as well for Swift 5.

[2019-06-26 12:13] pradipwalghude commented on #27
Same issue for me? If anyone knows how to resolve it then please text here.

[2019-06-26 16:32] OmarIbbu opened #35 "While uploading an app to app store"
Code signing "PaymentSDK.framework" failed.

[2019-07-02 06:11] pradipwalghude commented on #34
The above SDK will work for swift 5.0.

[2019-07-09 09:56] mayuritalaviya commented on #34
I am used Xcode 10.2 and used PaytmSDK for swift 5. Application verification is Done but my app is rejected for below reason :

Termination Description: DYLD, Library not loaded: @rpath/PaymentSDK.framework/PaymentSDK | Referenced from: /var/containers/Bundle/Application/AE80A807-0B0E-444C-BAF0-1A771FE67EE9/*.app | Reason: image not found

Does anyone have an idea about this issue?

[2019-07-09 10:52] pradipwalghude commented on #34
Add PAYTM SDK on below path:
Build Phases-> Link Binary with Libraries

[2019-07-09 10:59] mayuritalaviya commented on #34
![Screenshot 2019-07-09 at 4 26 05 PM](https://user-images.githubusercontent.com/3086782/60882876-62d4fc00-a266-11e9-96f5-2a0b054b4a1e.png)

Already added still getting an issue. I am also add script provid by Paytm team.

[2019-07-12 11:36] ErAshu commented on #34
**dyld: Library not loaded: @rpath/PaymentSDK.framework/PaymentSDK**

**Referenced from: /Users/XXXXX/Library/Developer/CoreSimulator/Devices/1A7869B4-5FD3-4270-95BF-E49BE87A70CA/data/Containers/Bundle/Application/1A5C801A-B073-4023-A583-9C15BDF196E8/Example.app/Example**

**Reason: image not found**

<img width="801" alt="Screenshot 2019-07-12 at 5 03 49 PM" src="https://user-images.githubusercon

[2019-07-15 07:07] mayuritalaviya commented on #34
After so many trails finally, I am solved my problem "image not found" issue With just set: "Build Active Architecture Only - **Release mode: No**"

![Screenshot 2019-07-15 at 12 27 58 PM](https://user-images.githubusercontent.com/3086782/61199729-9697a200-a6fc-11e9-84e8-ea2c7a12f708.png)

[2019-07-15 14:03] MohanishBharaskar commented on #30
1. Go to Build Phases
2. Add "New Run Script Phase"
3.Under that add the following script (Check "run script only when installing")

APP_PATH="${TARGET_BUILD_DIR}/${WRAPPER_NAME}"

# This script loops through the frameworks embedded in the application and
# removes unused architectures.
find "$APP_PATH" -name '*.framework' -type d | while read -r FRAMEWORK
do
    FRAMEWORK_EXECUTABLE_NAME=$(defaul

[2019-07-31 06:50] brk9595 commented on #15
Is this solved? I'm facing the same issue.

[2019-08-08 05:56] pratik2112 commented on #27
Same issue for me?

[2019-08-09 12:25] V1992 commented on #34
The PaymentSDK swift 5 version is working fine.
But when I tried to create ipa an error message is displaying.

  {
            code = 0;
            description = "Failed to verify bitcode in PaymentSDK.framework/PaymentSDK:\nerror: Cannot extract bundle from /var/folders/h_/2jv8h73d5x9920g6mcmxm8m00000gn/T/XcodeDistPipeline.~~~p8Qcsb/Root/Payload/KLICKIT.app/Frameworks/PaymentSDK.framework/Payme

[2019-09-11 04:03] sairamkotha opened #36 "Paytm sdk 5.1 issue"
With xcode11 paytm swift sdk module complied error with swift 5.1.
Please provide sdk with swift 5.1 support.

[2019-09-12 03:00] sairamkotha-swiggy commented on #36
@pradipwalghude can you help me here?
we are unable to release with xcode11 GM version

[2019-09-12 03:01] sairamkotha commented on #36
@pradipwalghude can you help me here?
we are unable to release with xcode11 GM version

[2019-09-12 05:54] pradipwalghude commented on #36
I have fixed issue with swift 5.0.
I didn't tried on Xcode 11. Could you please send email on devsupport@paytm.com

Once you got solution then share here.

[2019-09-12 05:55] sairamkotha-swiggy commented on #36
Okay.

[2019-09-13 07:35] prakharbhardwaj opened #37 "PaymentSDK.framework contains unsupported architecture"
While uploading my app to the app store I am facing this architecture issue:

**ERROR ITMS-90087: "Unsupported Architecture. The executable for Bono.app/Frameworks/PaymentSDK.framework contains unsupported architecture '[x86_64, i386]'."**

I have used the latest SDK.

[2019-09-18 04:35] iPatilAmit opened #38 "Is paytm using UIWebView on their framework?"
Hi
I'm receiving this warning from apple while uploading build on app store. I want to confirm that is their paytm using any UIWebView on their framework. because of apple stop receiving where containing UIWebView in the whole app. whether it is 3rd party or their own. It should be WKWebView.

Warning:

Dear Developer,

We identified one or more issues with a recent delivery for your app, (App Nam

[2019-09-21 14:08] sudarvizhi3026 opened #39 "InValid CheckSum"
private func setupPaytm() {
var serv = PGServerEnvironment()
serv = serv.createProductionEnvironment()
let type :ServerType = .eServerTypeProduction
let order = PGOrder(orderID: "", customerID: "", amount: "", eMail: "", mobile: "")
order.params = ["MID": "thiHMw75742998020160",
"ORDER_ID": "TRNX377545",
"CUST_ID": "1",
"MOBILE_NO": "9876543210",
"EMAIL": "demo@demo.com",
"CHANNEL_ID": "WAP",
"WEB

[2019-09-22 08:11] sairamkotha commented on #36
5.1 Paytm SDK
[PaymentSDK.framework.zip](https://github.com/Paytm-Payments/Paytm_iOS_App_Kit/files/3639499/PaymentSDK.framework.zip)

[2019-09-22 09:36] code-draft commented on #36
I have been getting code signing error when using the SDK, kindly assist

[2019-09-23 07:06] suchettech commented on #37
You can remove architecture from framework
lipo -remove x86_64 PaymentSDK.framework/PaymentSDK -o PaymentSDK.framework/PaymentSDK

[2019-09-23 07:50] ashishvrma11 opened #40 "Module compiled with Swift 4.2.1 cannot be imported by the Swift 5.1 compiler"
I am facing some issue in the integration of paytm SDK-ios. Can u please tell that how can we fixed it.

**Module compiled with Swift 4.2.1 cannot be imported by the Swift 5.1 compiler**: /Users/ashishverma/Desktop/dev/oneculture-ios/oneculture/oneculture/ThirdPartyClass/PaytmSDK/PaymentSDK.framework/Modules/PaymentSDK.swiftmodule/arm64.swiftmodule

[2019-09-25 05:27] varun-naharia commented on #40
[Paytm SDk 5.1](https://github-production-repository-file-5c1aeb.s3.amazonaws.com/86688942/3309239?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20190828%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20190828T052621Z&X-Amz-Expires=300&X-Amz-Signature=77ab0e00609f9e0316e49279eed64f7cb6c05e5301a1c315ac9d6ee9cfb1ea72&X-Amz-SignedHeaders=host&actor_id=10987732&response-content-

[2019-09-25 06:38] ashishvrma11 commented on #40
Hi, Varun Thanks for reply can u please send me the Paytm SDK 5.1 link once again. Your link is not working.

[2019-09-25 09:09] yashbedi commented on #40
Yep agree, facing the same issue,.

Also The link  shared by varun is not wokring.

@ashishvrma11 .? Did you managed to make it work.

[2019-09-25 10:17] yashbedi commented on #40
@ashishvrma11

Hey it is working,
For me:
1. I downloaded the repo,
2. Unzipped it,
3. Found another zip folder init which was called as `PaymentSDK Swift5.zip`
4. Unzipped it as well, and used `BitcodeEnabled` version.

And all started working like a charm.

[2019-09-30 06:31] dynaprojects commented on #40
@yashbedi please share the link again

[2019-10-04 05:57] tanand7 commented on #40
[PaymentSDK 5.1](https://github.com/Paytm-Payments/Paytm_iOS_App_Kit/files/3639499/PaymentSDK.framework.zip) - Worked for me in Xcode 11

[Source - Paytm sdk 5.1 issue #36](https://github.com/Paytm-Payments/Paytm_iOS_App_Kit/issues/36#issuecomment-533859664)

[2019-10-07 07:56] amircodiant commented on #27
I was also getting same error.

**Issue** :
there is an issue in paramsToString function

function paramsToString(params, mandatoryflag) {
  var data = '';
  var tempKeys = Object.keys(params);
  tempKeys.sort();
  tempKeys.forEach(function (key) {
  var n = params[key].includes("REFUND");
   var m = params[key].includes("|");
        if(n == true )
        {
          params[key] = "";
        }

[2019-10-14 11:27] Tapaniya25 commented on #37
Still getting same error.
<img width="745" alt="Screenshot 2019-10-14 at 9 37 51 AM" src="https://user-images.githubusercontent.com/37467978/66748025-b6796600-eea3-11e9-9cc7-a6324b995902.png">

[2019-10-14 11:41] prakharbhardwaj commented on #37
@Tapaniya25 Since I got no reply from Paytm, I installed the Cashfree SDK.
Although this solution might work for you:
1. Unzip [PaymentSDK 5.1](https://github.com/Paytm-Payments/Paytm_iOS_App_Kit/files/3639499/PaymentSDK.framework.zip)
2. Open **PaymentSDK.framework** folder
3. Locate to **Modules** -> **PaymentSDK.swiftmodule**
4. **Delete** i386 & x86_64 modules files
5. Import the framework to

[2019-10-14 13:41] Tapaniya25 commented on #37
@prakharbhardwaj getting another error
<img width="751" alt="Screenshot 2019-10-14 at 7 10 34 PM" src="https://user-images.githubusercontent.com/37467978/66755791-55a75900-eeb6-11e9-81b4-a25869ceb3b8.png">

[2019-10-14 19:24] prakharbhardwaj commented on #37
@Tapaniya25 So the module still exists in the framework binary and contains a build for both the simulator (x86_64) and the actual devices (ARM).
Here is a script used to specifically remove just one framework's architecture from the executable file manually which I found on internet.

1. Go to Build Phases
2. Add "New Run Script Phase"
3. Under that add the following script (Check "run script onl

[2019-10-17 00:11] kakalot1191 opened #41 "Paytm swift 5.1 crash app"
can anyone have me to integrate paytm? I am using xcode 11 and using
[https://github.com/Paytm-Payments/Paytm_iOS_App_Kit/files/3639499/PaymentSDK.framework.zip]

And when I try to present
if let txn = self.txnController {
            viewControler.present(txn, animated: true, completion: nil)
}

app got crashing with log

"PGTransactionViewController:loadView
PGTransactionViewController::viewDidL

[2019-10-17 09:07] mahendragp commented on #34
Still not fixed with Paytm framework 5.1 with xcode 11.0

[2019-10-21 10:30] w3b-amit opened #42 "PaytmNativeSDK.framework - Swift 5 compatibility issue."
Hello team,
I am using PaytmNativeSDK in my project, but its not compatible with Swift 5. The project is working on Xcode 10.1 but not on latest XCode 11.1. It gives error **"Module compiled with Swift 4.2.1 cannot be imported by the Swift 5.1 compiler"** Please make it compatible with latest XCode and also with swift 5.
![Screenshot 2019-10-21 at 3 59 26 PM](https://user-images.githubusercontent.

[2019-11-02 17:03] gssinghgautam opened #43 "Module compiled with Swift 5.1 cannot be imported by the 5.1.2"
I am getting the following error.

Module compiled with Swift 5.1 cannot be imported by the 5.1.2

[2019-11-04 05:52] tanand7 commented on #41
I had similar issue when I tried to present the view controller and I used push view controller method and it worked.

[2019-11-06 17:21] kavinrajec commented on #43
Same issue. PayTm please provide the SDK compiled with latest version of Xcode.

[2019-11-07 07:11] sidlowanshi commented on #43
@gssinghgautam have you got any solution ?

[2019-11-07 07:20] sidlowanshi commented on #43
Resolved ??

[2019-11-07 07:21] sidlowanshi commented on #42
Got any solution ??

[2019-11-07 07:36] chauhan9909 commented on #43
Is there any permanent solution for SDK compile issue in every new xcode versioning. Please provide universal version.

Please provide latest 5.1.2 compile SDK.

[2019-11-07 08:20] w3b-amit commented on #42
Not Yet!... No update on this SDK.

[2019-11-07 09:02] gssinghgautam commented on #43
@sidlowanshi I have downloaded Xcode 10.3 and use Paytm sdk 5.0.1

[2019-11-08 05:51] arshidkv12 commented on #39
Same issue

[2019-11-08 20:26] nilber commented on #43
I have the same problem, after upgrading OSX, could build a build with the most current version (5.1.2)?

[2019-11-12 06:58] sidlowanshi commented on #43
@paytm will you please reply ?????

[2019-11-15 11:41] AkhilBabloo commented on #43
@DevSupportPaytm when can we expect the new swift SDK.

[2019-11-15 15:05] sharathfantain commented on #43
@paytm @DevSupportPaytm  We are facing the same issue, When will the latest sdk be given??

[2019-11-16 08:36] ThakarRajesh commented on #43
I have faced the same issue I had sent an email to the support team. support team was sent me the latest SDK.
So, send an email (devsupport@paytm.com) to the support team for the latest SDK.

[2019-11-18 12:02] tanand7 commented on #43
Did you receive the SDK for 5.1.2 ?

[2019-11-18 13:15] ThakarRajesh commented on #43
Yes

On Mon, 18 Nov, 2019, 5:32 PM Anand T, <notifications@github.com> wrote:

[2019-11-18 15:54] nilber commented on #43
Can you share with us?

Please email us a few days support has not responded yet.

[2019-11-19 04:01] ThakarRajesh commented on #43
Email id

[2019-11-19 04:27] tanand7 commented on #42
[PaymentSDK 5.1](https://github.com/Paytm-Payments/Paytm_iOS_App_Kit/files/3639499/PaymentSDK.framework.zip) - Worked for me in Xcode 11

[Source - Paytm sdk 5.1 issue #36](https://github.com/Paytm-Payments/Paytm_iOS_App_Kit/issues/36#issuecomment-533859664)

[2019-11-19 04:29] tanand7 commented on #43
@ThakarRajesh Can you share it here so that everyone looking for the issue will get it easily

[2019-11-19 04:43] ThakarRajesh commented on #43
Ok. Please download 5.1.2 SDK [Here](https://drive.google.com/file/d/1zllbQU4hIyEp7BbRooMA2oQwt3G_VfEe/view?usp=sharing)

[2019-11-21 05:44] chintan-allianz commented on #40
Module compiled with Swift 5.1 cannot be imported by the Swift 5.1.2 compiler

[2019-11-21 05:49] tanand7 commented on #40
Check https://github.com/Paytm-Payments/Paytm_iOS_App_Kit/issues/43

[2019-12-09 10:40] sejalthesiya commented on #43
@ThakarRajesh can you please give me your Skye id? i m getting error in Paypal integration using this framework. its argent please

[2019-12-10 05:52] abdurrehmanio opened #44 "Error while creating build"

[2019-12-10 05:55] abdurrehmanio commented on #43
I'm getting an error while creating a build.
[https://github.com/Paytm-Payments/Paytm_iOS_App_Kit/issues/44](url)

[2019-12-12 05:30] tech4solitude commented on #43
Getting an image not found error. Tried all mentioned here - https://github.com/Paytm-Payments/Paytm_iOS_App_Kit/issues/34
But still facing the issue.
Using 5.1.2 SDK provided by @ThakarRajesh

@DevSupportPaytm  Can you please provide an update for this.

[2019-12-15 18:58] #44 closed

[2019-12-19 09:25] RomanPodymov commented on #43
The only right way to fix it is to rebuild the framework with `BUILD_LIBRARY_FOR_DISTRIBUTION = YES;`, set it in the Xcode 11.3 project settings.

[2019-12-19 09:37] RomanPodymov opened #45 "Rebuild all frameworks with BUILD_LIBRARY_FOR_DISTRIBUTION = YES;"
Hello.
Found out that you don't use `BUILD_LIBRARY_FOR_DISTRIBUTION` to build  Swift frameworks in this repository. You should enable this option to fix all the issues like #40 and #43.

[2020-01-06 13:08] amitmeh10 commented on #45
its not working..

[2020-01-06 13:09] amitmeh10 commented on #45
Any one have solution for that for Swift Compiler 5.1.2 ?

[2020-01-06 14:12] RomanPodymov commented on #45
Hello @amitmeh10
You cannot rebuild the framework on your side with `BUILD_LIBRARY_FOR_DISTRIBUTION` enabled if you don't have access to source code. You should wait for the release that supports this feature.

[2020-01-07 13:39] manabmrsoft commented on #30
@MohanishBharaskar Its Working bro. Thank youvery much

[2020-01-08 05:27] amitmeh10 commented on #45
i solved it. just change Do not Embed to Embed & sign... and its work fine...

[2020-01-08 10:15] RomanPodymov commented on #45
Hello @amitmeh10
Are you sure that your project is still runnable if you don't embed the framework that has `BUILD_LIBRARY_FOR_DISTRIBUTION = NO`?

[2020-01-09 05:56] amitmeh10 commented on #45
yes i m not change NO to YES for BUILD_LIBRARY_FOR_DISTRIBUTION.
But still my code is runnable . and if i change it YES than its shows me error to build bridging header file.

[2020-01-11 15:38] jawad12345A opened #46 "Paytm sdk integration issue"
Module compiled with Swift 4.2.1 cannot be imported by the Swift 5.1.3

[2020-01-12 12:49] BhaktiKarva commented on #43
I Recieved the new sdk and tried running but I am still facing issues.
If I select “Do not embed” when linking the library, the app does not run on a physical device.
If I select “Embed & sign” the app is not validated and I cannot upload on store.
If I select “Embed without signing” the app will not even Install on any physical device.

How to proceed??

[2020-01-12 13:13] BhaktiKarva opened #47 "Uploading on App Store error"
If I select “Do not embed” when linking the library, the app does not run on a physical device.
If I select “Embed & sign” the app is not validated and I cannot upload on store.
If I select “Embed without signing” the app will not even Install on any physical device.

Please guide on how to solve this issue.

[2020-01-13 02:22] tech4solitude commented on #47
@BhaktiKarva  you've to select Embed & sign
and put the script mentioned in the documentation to get it validated from App Store

[2020-01-13 07:43] BhaktiKarva commented on #47
Which script?

[2020-01-13 08:28] RomanPodymov commented on #43
Hello @BhaktiKarva
Does the version that you are using contains *.swiftinterface files?

[2020-01-13 08:29] BhaktiKarva commented on #43
@RomanPodymov No it does not.

[2020-01-13 08:32] tech4solitude commented on #47
This one

if [ "${CONFIGURATION}" = "Release" ]; then
  APP_PATH="${TARGET_BUILD_DIR}/${WRAPPER_NAME}"

  # This script loops through the frameworks embedded in the application and
  # removes unused architectures.
  find "$APP_PATH" -name '*.framework' -type d | while read -r FRAMEWORK
  do
  FRAMEWORK_EXECUTABLE_NAME=$(defaults read "$FRAMEWORK/Info.plist" CFBundleExecutable)
  FRAMEWORK_EXECUTA

[2020-01-13 08:34] tech4solitude commented on #46
Refer this

https://github.com/Paytm-Payments/Paytm_iOS_App_Kit/issues/43#issuecomment-555330519

[2020-01-13 10:33] amitmeh10 commented on #45
Its Works. Thank u .

[2020-01-13 10:37] BhaktiKarva commented on #47
It works. Thank you

[2020-01-13 10:37] #47 closed

[2020-01-13 10:52] jawad12345A commented on #46
It is for 5.1.2 not for 5.1.3.

[2020-01-13 10:57] jawad12345A commented on #46
It is for swift version 5.1.2 not for swift version 5.1.3

On Mon, Jan 13, 2020 at 1:34 PM Punith B M <notifications@github.com> wrote:

[2020-01-17 03:08] padamprajapati47 commented on #35
The same issue with me also. After updating the new PayTm SDK with Xcode 11.3.

[2020-01-17 03:29] tech4solitude commented on #35
Refer this - https://github.com/Paytm-Payments/Paytm_iOS_App_Kit/issues/47

[2020-01-21 15:57] craigbooker commented on #46
Anyone find an updated version for 5.1.3?

[2020-01-21 18:35] jawad12345A commented on #46
@craigbooker  here is the solution  https://drive.google.com/open?id=1H9fQvBr6MWz6DCBcHWGpXk9LHAno2kEW

[2020-01-28 19:24] scubesvn commented on #39
did you find solution. getting same issue

[2020-03-03 07:07] siddharthkhindri opened #50 "Checksum api is getting hit two times."
Checksum api is getting hit two times.

Here is my code regarding parameters:

[code]
**Method to open sdk**:

[code]

**getting hit two times at my CALL BACK URL i.e** "https:\/\/app.trakop.com\/customerApiv3\/verifychecksum

Please let me know what i am doing wrong as this is impacting my business a lot. I am in critical situation.

[2020-03-03 09:39] avishek4121 opened #51 "payment sdk integration issue"
Module compiled with Swift 5.0.1 cannot be imported by the Swift 5.1.3 compiler

[2020-03-07 09:14] asadqazi commented on #51
I am also facing this issue

[2020-03-10 09:07] SreekanthSoftcons opened #52 "Auto populated OTP in KeyBoard and Every time asking enter mobile number"
Hello PayTm iOS SDK,

**1.**  Using Paytm SDK in Swift lang.  After entering the mobile number it goes OTP screen, instead of enter OTP manually I have to prepopulate in keyboard **OtpTextField.textContentType = .oneTimeCode**. Please look at ### OTP Screen 1 Image

<img width="349" alt="OTP Screen 1" src="https://user-images.githubusercontent.com/61816286/76296489-38977a80-62dc-11ea-921d-a9630d1b

[2020-03-10 09:10] SreekanthSoftcons commented on #52
bjvhvvbnvbnv

[2020-03-12 05:53] SreekanthGudisi commented on #52
Hi PayTm,

Please give reply to my question. I posted this question 2 days ago you guys have to give an update .

[2020-03-16 09:44] karthicknachimuthu commented on #38
Hi,
Is any updating regarding above?

[2020-03-18 12:12] sagarinstinctmedia opened #53 "how to solve invalid checksum error"

[2020-04-02 05:09] w3b-amit opened #54 "Module compiled with Swift 5.1.2 cannot be imported by the Swift 5.2"
Hi Team,
We have a new update of Xcode with Swift version 5.2. Please update the SDK to Swift 5.2. Due to this, we can not update all other codes and SDKs in the project and we need to use the old version of Xcode also. Please do this as soon as possible.
Thanks and regards

[2020-04-09 11:56] nikhil0011 opened #55 "Unreproducible webcore crashes"
Hi Team,
We have been reporting some WebCore issues with your sdk while clicking on the pay now button in sdk.

sharing you the logs below hope that helps and please let us know if there is any resolution to that.

`# Crashlytics - plaintext stacktrace downloaded by Nikhil Nangia at Thu, 09 Apr 2020 11:53:03 GMT
# Organization: XXXXX tech pvt ltd
# Platform: ios
# Application: XXXXXX
# Version: 1.

[2020-04-11 16:12] jeyvignesh commented on #55
Any update on this ???? facing the same issue.

[2020-04-22 08:47] philly25 commented on #55
This issue occurs when attempting to Proceed via Paytm Wallet. Though it work with other methods (credit card etc.).

[2020-04-23 10:20] ErAshu opened #56 "Wallet Amount not showing"
Hi,
I am integrating PayTM. When in login with mobile number, the wallet amount not showing there. Only UPI, debit card showing. I have more than requested amount available in wallet.

![Simulator Screen Shot - iPhone 11 - 2020-04-23 at 15 43 41](https://user-images.githubusercontent.com/4178384/80088316-f9ff0c00-8579-11ea-8acd-e22b0017cedd.jpg)

[2020-05-01 04:03] vijayvishesh opened #57 "i m facing the issue i have spend lot of time"
<img width="1440" alt="Screenshot 2020-04-30 at 8 15 26 PM" src="https://user-images.githubusercontent.com/34429705/80781082-b49c9900-8b8e-11ea-8cf7-2e36819b62b0.png">

[2020-05-02 08:06] nikhil0011 commented on #54
Any update on this, need this asap?

[2020-05-03 13:34] mohsinulhaq commented on #38
@iPatilAmit what did you do to fix this issue?

[2020-05-07 04:46] #56 closed

[2020-05-07 04:51] ErAshu opened #58 "Usage of UIWebview are no longer accepted."
This sdk used UIWebView and Apple app team review team doesn't allow this anymore.

Please correct this.

[2020-05-11 16:23] sunil-zalavadiya opened #59 "After click on "Failure" or "Successful" button it's showing screen with endless "Processing""
I am have implemented paytm sdk in iOS successfully. Its working in **iOS 12** without any issue but in **iOS 13** its not working proper.

![screen1](https://user-images.githubusercontent.com/3788607/81585259-88281e80-93d1-11ea-8455-551ff27eb5d5.png)

After click on "Failure" or "Successful" button it's showing screen with endless "Processing" like as in below screenshot:

![screen2](https://user

[2020-05-14 14:49] tusharMistri commented on #37
I got the solution of this problem. Don't remove and don't need fire any command for remove your [x86_64] and i386 framework. just follow the my steps what i have done for fix this issue. Also you can get the idea when you will get the error before upload and ipa to the server.

**step : 1**
Remove all files related to  [x86_64]  and  i386 frameworks from sdk framework.
Identify the path were you

[2020-05-21 14:13] chakri3130 commented on #58
@ErAshu did u find any solution for this?
Thanks in advance.

[2020-05-22 18:56] siddheshredkar commented on #54
Hi Team,
I am facing above same issue ,also we are not able to receive payment of customer on iOS version 13.4.1 Please update on this as soon as possible.

[2020-05-22 19:00] siddheshredkar opened #60 "SDK is not supporting for iOS version 13.4.1 and above."
Hi Team,

SDK is not supporting for iOS version 13.4.1 and above.

please update on this asap

[2020-05-25 05:59] ErAshu commented on #58
Not yet in this sdk.

[2020-05-26 07:12] devalexjackson commented on #54
Hello Team,
I am facing the same issue need a solution as soon as possible.
Thanks and Regards

[2020-05-26 10:43] ThakarRajesh commented on #60
The same issue But not the Paytm team help in the developer. all-time new os required new SDK. not given stable SDK in Paytm. @DevSupportPaytm  please give us asap latest SDK.

[2020-05-29 13:16] sunil90210 commented on #60
It's been a week since issue is reported. Please provide working binary ASAP. It's crashing on latest iOS which is used by potential customers. Kindly prioritize the fix, as this is business impact.

[2020-05-31 18:15] RashVenkat6795 commented on #38
Hi,
Did you find any solution on this ?

[2020-05-31 18:15] RashVenkat6795 commented on #58
Hi
Did you find any solution on this ?

[2020-05-31 18:18] RashVenkat6795 opened #61 "UIWebview to WKWebview Migration"
Not able to push app on stores due to usage of deprecated UIWebview

ITMS-90809: Deprecated API Usage - New apps that use UIWebView are no longer accepted. Instead, use WKWebView for improved security and reliability. Learn more (https://developer.apple.com/documentation/uikit/uiwebview).

Any solutions on this?. Need updates at the earliest

[2020-06-01 06:48] sumitGarg19 commented on #38
Hi,

As you know Apple has deprecated UIWebView, so we have updated our SDK in WKWebView and same is upload on Github. Please use the latest SDK.

[2020-06-01 06:55] RashVenkat6795 commented on #38
@sumitGarg19  SDK updated for objective c or swift ?

[2020-06-01 07:35] RashVenkat6795 commented on #38
@sumitGarg19 have the update been done for objective-C SDK also ?

[2020-06-01 07:51] sumitGarg19 commented on #38
Hi RashVenkat6795,

No, we don't require to update Objective-C SDK, the merchant can use Swift
SDK in both the projects(Swift and Objective-C).

On Mon, Jun 1, 2020 at 1:06 PM RashVenkat6795 <notifications@github.com>
wrote:

--
Best Regards,
Sumit Garg
Sr. Software Engineer
Mobile - 9582 268 695

[2020-06-03 12:13] jeky1990 opened #62 "Module compiled with Swift 5.1 cannot be imported by the Swift 5.2.4 compiler"
![Screen Shot 2020-06-03 at 5 42 29 PM](https://user-images.githubusercontent.com/42162475/83635311-a4c70900-a5c1-11ea-8eb8-f984d3e99afa.png)

Please provide latest framework

[2020-06-04 21:08] netsmithyllc commented on #61
I am also stuck. Not much of help from PayTm.

[2020-06-10 06:06] ThakarRajesh commented on #62
Hello @jeky1990 any solution recevied or not.

[2020-06-15 16:48] ArvindSeth commented on #34
[PaymentSDK.zip](https://github.com/Paytm-Payments/Paytm_iOS_App_Kit/files/4781698/PaymentSDK.zip)
Use attached SDK 5.1.2 and In General make it Embed & Sign, Next go to Build phase if already remove existing PaymentSDK  link binary with libraries and Add again.

[2020-06-16 13:25] vipul4301 commented on #34
Getting the same issue while I try to Archive my app to upload on Test Flight.
Xcode 11.3 Swift 5 and I'm getting this error message while trying to upload "Code signing "PaymentSDK.framework" failed."
<img width="732" alt="Screenshot 2020-06-16 at 6 50 47 PM" src="https://user-images.githubusercontent.com/24612023/84780056-bf0dd780-b002-11ea-8217-f940fbe2e1f2.png">

Any resolution to the issue wi

[2020-06-16 18:57] ArvindSeth commented on #34
remove i386 and x86_64 module from modules under Payment.sdk or use
attached sdk.  (refer attached image)

Add this in run script under build phase:

APP_PATH="${TARGET_BUILD_DIR}/${WRAPPER_NAME}"

# This script loops through the frameworks embedded in the application and

# removes unused architectures.

find "$APP_PATH" -name '*.framework' -*type* d | *while* *read* -r FRAMEWORK

*do*

    FRAME

[2020-06-17 05:58] vipul4301 commented on #34
@ArvindSeth
Getting the error while I try to Archive my app
*echo*: command not found
error: lipo: unknown architecture specification flag:  in specifying extract operation: -extract

[2020-06-17 07:07] ThakarRajesh commented on #62
Hello Paytm Team,
Please update Sdk asap. because over multiple client apps depend on your Paytm.and over the client in replacing Paytm to other payments.
@nikhilpaytm @Mohit-Aggarwal1 @himanshupaytm  @priyanka10paytm  @DevSupportPaytm  @ankz-paytm

[2020-06-17 07:49] himanshupaytm commented on #62
Hi Sumit,

Please check this.

*Regards,*
*Himanshu Garg*
*Sr. Software Engineer*
*+91-9417792400*

On Wed, Jun 17, 2020 at 12:38 PM Roy <notifications@github.com> wrote:

[2020-06-17 08:18] nikhilpaytm commented on #62
Hi
The latest SDK available on GitHub should compile, client must be using some older version.

usee this link:  https://github.com/Paytm-Payments/Paytm_iOS_App_Kit/tree/master/Swift/Swift%205/PaymentSDK.framework

If the problem still exists then update, we will update the SDK

[2020-06-17 08:24] ThakarRajesh commented on #62
Please provide a stable SDK because every new os then required a new SDK.We used in this https://github.com/Paytm-Payments/Paytm_iOS_App_Kit/tree/master/Swift/Swift%205/PaymentSDK.framework same issue please check bellow screenshot
![Screenshot 2020-06-13 at 10 11 19 AM](https://user-images.githubusercontent.com/14832892/84874039-a99bba80-b0a1-11ea-920e-4301dca29966.png)
Please update asap.
Thank

[2020-06-17 08:29] himanshupaytm commented on #62
++ Nikhil

On Wed, Jun 17, 2020 at 1:19 PM Himanshu Garg <himanshu.garg@paytm.com>
wrote:

--
Best Regards,
Sumit Garg
Sr. Software Engineer
Mobile - 9582 268 695

[2020-06-17 08:39] ThakarRajesh commented on #62
Please update as well as ITMS-90809: Deprecated API Usage - New apps that use UIWebView are no longer accepted. Instead, use WKWebView for improved security and reliability. Learn more (https://developer.apple.com/documentation/uikit/uiwebview).
Apple does not approve of the app without WKWebView.

[2020-06-23 09:48] Ashutoshmshra opened #64 "Invalid Checksum error in iOS swift."
**Hello Team,
I have followed the official documentation of [Paytm integration in ios Swift](https://developer.paytm.com/docs/v1/ios-sdk/) and still, I am getting an "Invalid checksum" error.**

**I have implemented the coding part in the following way in our project. And for checksum generation, I have used the [Node JS](https://developer.paytm.com/docs/checksum/) code that is available on your d

[2020-06-23 10:16] ravindramca05 commented on #64
It seems you are using paytm legacy IOS sdk. Kindly refer the below document for updated SDK.

[2020-06-23 10:18] ravindramca05 commented on #64
Hi,
It seems you are using paytm legacy IOS sdk. Kindly refer the below document for updated SDK document.
https://developer.paytm.com/docs/all-in-one-sdk/

[2020-06-24 10:10] Ashutoshmshra commented on #64
**Thanks for your response, Now I have followed [All in one SDK](https://developer.paytm.com/docs/all-in-one-sdk/) and test it on "Simulator" and still, I am getting the following error:-**

-canOpenURL: failed for URL:

   "paytm://merchantpayment?txnToken=cf98aad4670b46f5ab6ef96d9619cbd81592975303772&orderId=ORD860024&mid=blUdcq77832145794302&amount=1.0&redirectionUrl=https://merchant.com/callba

[2020-07-04 19:43] RAGHURAMK0542 commented on #61
@netsmithyllc  any updates, did you get to resolve the error ?

[2020-07-06 08:01] ravindramca05 commented on #61
Kindly use latest SDK available at https://github.com/paytm/Paytm_iOS_All_in_One_SDK.
To use the latest SDK please refer paytm's all in one sdk solution doc available on  paytm developer portal.

[2020-07-12 14:49] mpm1989 commented on #64
Below delegate function is not working when the app is not installed. I am using All in one SDK
 func didFinish(with status: PaymentStatus, response: [String : Any]) {
}
Testing Case: Paytm app is not installed and successful payment
Showing error after successful payment
Could not signal service com.apple.WebKit.Networking: 113: Could not find specified service

[2020-07-16 05:34] phanindra92 opened #65 "AIDelegate method never called after successful transaction"
Hi,

I am using below Paytm All In One SDK to integrate payments in my iOS app.

https://developer.paytm.com/docs/all-in-one-sdk/

The payment flow works fine when Paytm app installed in the device.

The issue is when Paytm app not installed AIDelegate is opening web view to finish transaction. But, after finishing transaction the didFinish method never called back.

func didFinish(with status: Ap

[2020-07-21 13:37] phanindra92 commented on #64
This will call delegate method.

1. Create a local variable of AIHandler
example : private var appInvoke : AIHandler = AIHandler()

2. call openPaytm method

example:
 self.appInvoke.openPaytm(merchantId: "put mid here", orderId: orderId, txnToken: txnToken, amount: "100", redirectionUrl : "https://securegw.paytm.in/theia/paytmCallback?ORDER_ID=\(orderId)", delegate: self)

[2020-07-24 16:22] ioshitendra opened #66 "Module compiled with Swift 5.1 cannot be imported by the Swift 5.1.2 compiler"
i facing this issue please provide any solution or provide any link for compatible SDK.

[2020-08-04 06:40] metroride commented on #34
Any update on this issue?

[2020-08-07 04:06] abdulghanitech commented on #39
Same issue here, please let me know if you find the solution

[2020-08-26 08:22] maulikshah09 commented on #66
Same  issue

[2020-08-26 08:27] maulikshah09 commented on #46
Module compiled with Swift 5.1.2 cannot be imported by the Swift 5.2.4 compiler

[2020-08-26 08:33] maulikshah09 commented on #62
link is broken

[2020-08-26 08:33] maulikshah09 commented on #62
link is broken

[2020-08-26 09:23] maulikshah09 commented on #62
@jeky1990  @ThakarRajesh  @nikhilpaytm @himanshupaytm  @any solution received or not. Currently  Please help me on that currently I have to updagte sdk and upload the app.. Please help me as soon as possible..

[2020-08-26 09:30] maulikshah09 commented on #62
@nikhilpaytm  @himanshupaytm Please help me I have to upload my app  today.. Do you have new sdk link then give me link.. I Don't want  to switch older version and upload because my all framework is compiled in newer xcode 11.5... Please help me as soon as possible..

[2020-08-26 10:32] nikhilpaytm commented on #62
@maulikshah09  please use this link: https://github.com/paytm/Paytm_Payments_iOS_Sample_Apps.

[2020-08-26 10:32] #62 closed

[2020-08-26 10:36] maulikshah09 commented on #62
@nikhilpaytm  All framework linked broken I already  checked

[2020-08-26 10:39] nikhilpaytm commented on #62
@LalitChaudhary1  Please help @maulikshah09  here.

[2020-08-26 10:42] maulikshah09 commented on #62
@nikhilpaytm  Sir don't worry i download full project and get framework...

[2020-08-26 10:44] jeky1990 commented on #62
@nikhilpaytm  this link not working....
http://paywithpaytm.com/developer/paytm_sdk_doc?target=steps-for-ios-integration

[2020-08-26 10:49] maulikshah09 commented on #62
Download full project and get framewrok i solved my issue. @jeky1990

[2020-09-21 07:09] gupta163 commented on #46
Module compiled with Swift 5.1.2 cannot be imported by the Swift 5.2.4
Any one have Latest sdk

[2020-09-21 07:10] gupta163 commented on #66
Same issue here also

[2020-09-28 19:14] rahuldange09 commented on #65
@phanindra92 I'm having same issue here. Have you solved it. Please let me know. If yes please tell me that how you solved it.

[2020-11-15 08:45] maulikshah09 commented on #62
@nikhilpaytm please provide 5.3.1 SDK so i can update that... Same issue is occure.

[2020-11-18 07:17] maulikshah09 commented on #46
Module compiled with Swift 5.1.2 cannot be imported by the Swift 5.3.1 compiler issue

[2020-11-18 07:18] maulikshah09 commented on #43
Module compiled with Swift 5.1.2 cannot be imported by the Swift 5.3.1 compiler issue

any one have 5.3.1 sdk ?

[2020-11-18 07:20] maulikshah09 opened #67 "Module compiled with Swift 5.1.2 cannot be imported by the Swift 5.3.1 compiler"

[2020-11-18 07:22] maulikshah09 commented on #66
Module compiled with Swift 5.1.2 cannot be imported by the Swift 5.3.1 compiler issue

[2020-11-19 01:56] bhavinchauhanios commented on #43
Better to implement new all in one SDK. That is the best solution for
permanent.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
19/11/20,
07:24:42 am

On Wed, Nov 18, 2020 at 12:48 PM maulikshah09 <notification

[2020-11-22 05:55] maulikshah09 commented on #43
@bhavinchauhanios  Sir I want sdk. I have to change code everywhere. client want to fast release to appstore

[2020-11-23 05:48] maulikshah09 commented on #67
@nikhilpaytm @aabhishekgoyal @Mohit-Aggarwal1 @MayankGupta1  please help me

[2020-11-24 07:41] soumyavats commented on #67
Please update the SDK using the below links -
https://github.com/paytm/Paytm_iOS_All_in_One_SDK (All in one)
https://github.com/paytm/Paytm_Payments_iOS_Sample_Apps/tree/master/Swift/Swift%205/ (PaymentsSDK)

[2020-11-24 07:44] maulikshah09 commented on #67
I tried but not working.. My client want to upload app and i don't have time to integrate new all in one sdk..Please help me

[2020-11-24 07:54] maulikshah09 commented on #67
Failed to build module 'PaymentSDK' from its module interface; the compiler that produced it, 'Apple Swift version 5.1.3 (swiftlang-1100.0.282.1 clang-1100.0.33.15)', may have used features that aren't supported by this compiler, 'Apple Swift version 5.3.1 (swiftlang-1200.0.41 clang-1200.0.32.8)'

[2020-11-24 07:57] soumyavats commented on #67
@maulikshah09 you have downloaded the SDK from the below mentioned URL or from somewhere else
https://github.com/paytm/Paytm_Payments_iOS_Sample_Apps/tree/master/Swift/Swift%205/ (PaymentsSDK)

[2020-11-24 08:01] soumyavats commented on #67
The link which I have provided above should work

[2020-11-25 06:20] maulikshah09 commented on #67
I checked it's not worked...

[2020-11-26 07:16] soumyavats commented on #67
Please remove the existing SDK completely from the project -> add the one from the link shared -> clear derived data -> clean build. If this doesn't work then please share a sample application where we can replicate the same issue so that we can debug the error.

Please connect on mail soumya.vats@paytm.com for further discussion

[2020-11-26 10:56] maulikshah09 commented on #67
sir your sdk is 5.1.2 version complied . I have open same project on 11.7 then worked fine. You have to compile 5.1.3

[2020-12-01 05:08] soumyavats commented on #67
We can schedule a meeting with you to look into the issue kindly email me your details on the above mentioned email address

[2020-12-16 10:00] NisargTailor commented on #59
you need to use the Paytm Static Callback URL in 'callbackUrl' request param of 'Initiate Transaction API'.(Initiate Transaction API is created from your backend server )

Paytm Static Callback URL

Staging: https://securegw-stage.paytm.in/theia/paytmCallback?ORDER_ID=<order_id>

Production: https://securegw.paytm.in/theia/paytmCallback?ORDER_ID=<order_id>

[2020-12-28 13:41] kartikkhatana commented on #67
I am also facing the same issue in xcode 12 i am not able to use the paytm framework. Please help !

[2020-12-29 04:11] soumyavats commented on #67
@kartikkhatana Please update the SDK using the below links -
https://github.com/paytm/Paytm_iOS_All_in_One_SDK (All in one)
https://github.com/paytm/Paytm_Payments_iOS_Sample_Apps/tree/master/Swift/Swift%205/ (PaymentsSDK)

[2021-01-04 09:39] kartikkhatana commented on #67
Thanks alot! the issue was resolved
with regards
kartik khatana

On Tue, Dec 29, 2020 at 9:41 AM soumyavats <notifications@github.com> wrote:

[2021-01-09 05:18] NisargTailor commented on #65
you need to use the Paytm Static Callback URL in 'callbackUrl' request param of 'Initiate Transaction API'.(Initiate Transaction API is created from your backend server )

Paytm Static Callback URL

Staging: https://securegw-stage.paytm.in/theia/paytmCallback?ORDER_ID=<order_id>

Production: https://securegw.paytm.in/theia/paytmCallback?ORDER_ID=<order_id>

[2021-03-02 09:35] nikhil747 commented on #64
I faced same error for seprateDeeplinkParams this, I tried below code for separate params data instead of this. you can use this,

            var parameters: [String: String] = [:]

            URLComponents(url: url, resolvingAgainstBaseURL: false)?.queryItems?.forEach {
                parameters[$0.name] = $0.value
            }

 func application(_ app: UIApplication, open url: URL, options:

[2021-03-10 05:58] RumsPatel opened #68 "Failed to build module 'PaymentSDK' from its module interface; the compiler that produced it, 'Apple Swift version 5.1.3 (swiftlang-1100.0.282.1 clang-1100.0.33.15)', may have used features that aren't supported by this compiler, 'Apple Swift version 5.3.2 (swiftlang-1200.0.45 clang-1200.0.32.28)'"
Here, we found the many Paytm payment sdk but still not working
xcode version : 12.4
 thank you
![ss](https://user-images.githubusercontent.com/38914547/110583478-c0d08a00-8193-11eb-9e59-3c07f452c4a7.png)

[2021-03-11 10:07] miteshgajjar03 opened #69 "Paytm All-In-One-SDK Shows Your Session has expired error in paytm default app."
Hello,
I am using Paytm All-In-One-SDK in my iOS app and when I'm initiate payment It will redirected to me to the Paytm app but when Paytm app opens it shows alert with message "Your Session has expired" and when I click on ok button it takes me to the app.

When I removed URL types from info.plist it opens webview and after completion payment process it calls AIDelegate method. But in below meth

[2021-04-03 13:18] ishteyaque06 commented on #69
I am facing same issue, I am checking on iOS simulator, it is throwing error lost in space and session expire

[2021-04-05 05:41] soumyavats commented on #69
You can download latest paytm staging app from here https://testflight.apple.com/join/JyFVfGSJ. Version 9.4.0(2) would work fine

[2021-04-07 08:48] miteshgajjar03 commented on #69
Hello,
As per disucssion with Paytm support team they told that, Paytm app only works with production environment. For staging environment use Paytm webview.

[2021-04-07 09:01] soumyavats commented on #69
No this is not the case for staging environment you can download the app from testflight. PFB the link for the same
https://testflight.apple.com/join/JyFVfGSJ

[2021-04-13 12:19] Neeraj-Kellton commented on #68
Hi Team,

For your information, I've used Paytm Payment SDK (iOS).
The code isn't running on Xcode 12.4, instead I'm getting following error on building the project :

Failed to build module 'PaymentSDK' from its module interface; the compiler that produced it, 'Apple Swift version 5.1.3 (swiftlang-1100.0.282.1 clang-1100.0.33.15)', may have used features that aren't supported by this compiler, 'A

[2021-04-22 06:12] iOSDevNeeraj commented on #68
Hi All,

This issue can be resolved by following the below steps:

Steps:
1. Quit Xcode.
2. Go to Finder and open Application Folder.
3. Right click on Xcode application, select Get Info
4. In the "Xcode Info Window" check on Open using Rosetta.
5. Open Xcode and try running again.

<img width="263" alt="Screenshot 2021-04-22 at 11 39 14 AM" src="https://user-images.githubusercontent.com/16538113/